<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class = "cardio">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!--<a href= fitness class="w3-bar-item w3-button">Fitness</a>-->
      <!--<a href= diet class ="w3-bar-item w3-button">Diet</a>-->
      <!--<a href= mental  class ="w3-bar-item w3-button">Mental Health</a>-->
    </div>
  </div>
</div>
<h1 class = "cardio_title"> Living for Endurance Cardio!</h1></h1>
<h3>Steady state cardio is simply a cardio workout that is a continuous,
steady effort,<br> as opposed to an interval cardio workout where you vary your energy output.<br>
Long efforts of steady state cardio (such as a long distance, slower, run) lead <br> to 
increased endurance, faster recovery, <br>puts less stress on the cardiorespiratory system, 
and leads to<br> a better ability for your body to burn and use fat</h3>


<img class = "cardio_foto" src = "http://www.slate.com/content/dam/slate/articles/sports/sports_nut/2012/06/120601_SN_runnersEX.jpg.CROP.rectangle3-large.jpg">
</body>

