<h3>Steady state cardio is simply a cardio workout that is a continuous,
steady effort, as opposed to an interval cardio workout where you vary your energy output.
Long efforts of steady state cardio (such as a long distance, slower, run) lead too to 
increased endurance, faster recovery, puts less stress on the cardiorespiratory system, 
and leads t  a better ability for your body to burn and use fat.</h3>