<!DOCTYPE html>
<html>
    <head>
<title>Fitness</title>
<link rel="stylesheet" href = "/css/styles.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#fit_but" class="w3-bar-item w3-button">Fitness</a>
      <a href="#diet_but" class="w3-bar-item w3-button">Diet</a>
      <a href="#ment_but" class="w3-bar-item w3-button">Mental Health</a>
    </div>
  </div>
</div>

<!-- Header -->

   <!-- Float links to the right. Hide them on small screens -->
    
<br>

<br> 

<br>
<br>
<br> 

<br>
<br>
<br> 
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  
  <div class="w3-display-middle w3-margin-top w3-center">
    <head>
        <title> Ideal Diet Quiz </title>
    </head>
    
    
    <br>
    <br>
    
    <br>
    
    
    <body>
    <form class = "diet_form" method = "POST" action = "diet_results">
        <h1>  What type of diet would you like to follow?</h1>
       <input type = "radio" name = "meat" value = "Vegeterian">Vegetarian<br>
       <input type = "radio" name = "meat" value = "Vegan">Vegan <br>
       <input type = "radio" name = "meat" value = "Gluten Free">Gluten Free <br>
       <input type = "radio" name = "meat" value = "High Protein">High Protein <br>
     
         <br>
         <button type = "submit"> SUBMIT </button>
       
       
        </form>
       
</html>


