
<!DOCTYPE html>
<html>
    <head>
<title>Fitness</title>
<link rel="stylesheet" href = "/css/styles.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#fit_but" class="w3-bar-item w3-button">Fitness</a>
      <a href="#diet_but" class="w3-bar-item w3-button">Diet</a>
      <a href="#ment_but" class="w3-bar-item w3-button">Mental Health</a>
    </div>
  </div>
</div>

<!-- Header -->

   <!-- Float links to the right. Hide them on small screens -->
    

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  
  <div class="w3-display-middle w3-margin-top w3-center">
    <head>
        <title> Ideal Exercise Quiz </title>
    </head>
    
    <body>
       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br>
        <h1 class= "fitness_title"> What Type of Exercise is the Best for You?</h1>
        
        <form class = "fitness_form" method = "POST" action = "fitness_results">
            <h2> What is your main goal? </h2>
                <input type= "radio" name = "goal" value ="10">Lose weight<br>
                <input type= "radio" name = "goal" value ="100">Build muscle<br>
                <input type= "radio" name = "goal" value ="1000">Get lean and powerful<br>
                
            <h2> How much time are you willing to commit per work out session? </h2>
                <input type= "radio" name = "time" value ="10">30 minutes to an hour<br>
                <input type= "radio" name = "time" value ="100">45 minutes to an hour and a half<br>
                <input type= "radio" name = "time" value ="1000">15 to 30 minutes<br>
                 <form method = "POST" action = "results/">
                     
            <h2> Which best describes you? </h2>
                <input type= "radio" name = "YOU" value ="10">Endurance is my middle name<br>
                <input type= "radio" name = "YOU" value ="100">Bulking is totally me<br>
                <input type= "radio" name = "YOU" value ="1000">I'm a firework- short time, big punch<br>
            
            <h2> What was your favorite PE activity? </h2>
                <input type= "radio" name = "PE" value ="10">Running the track every day<br>
                <input type= "radio" name = "PE" value ="100">Hitting the weight room<br>
                <input type= "radio" name = "PE" value ="1000">Calisthenics <br>
                
            <h2> If you were an elite athlete, what would you do?? </h2>
                <input type= "radio" name = "athelete" value ="10">Run the Boston Marathon<br>
                <input type= "radio" name = "athelete" value ="100">Olympic Lifting<br>
                <input type= "radio" name = "athelete" value ="1000"> Decathlon <br>
            
            <br>
            <button type="submit">Find your Fitness!</button>
            
        </form>
    </body>
    

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
</html>
