<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="gluten">


<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!--<a href= fitness class="w3-bar-item w3-button">Fitness</a>-->
      <!--<a href= diet class ="w3-bar-item w3-button">Diet</a>-->
      <!--<a href= mental  class ="w3-bar-item w3-button">Mental Health</a>-->
    </div>
  </div>
</div>
<h1 class = "gluten_title"> Who likes gluten anyway? </h1></h1>
<h3> Here are some hEalThY GLUTEN FREE options that will be sure to satiate you!</h3>


<img src = "https://images.media-allrecipes.com/userphotos/300x300/5571693.jpg" width = "250px" height = "250px" />
 <a href="http://www.eatingwell.com/recipe/266654/cheese-broccoli-almond-flour-pizza/"> <br> Cheese Broccoli Almond Flour Pizza </a>
 
 <br>
 
 <img src = " https://images.media-allrecipes.com/userphotos/300x300/5571684.jpg"  width = "250px" height = "250px" />
 <a href="http://www.eatingwell.com/recipe/266651/sweet-potato-pad-thai/"> <br> Sweet Potato Pad Thai </a>
 
 <br>
 
 <img src = " https://images.media-allrecipes.com/userphotos/300x300/5568559.jpg"  width = "200px" height = "200px" />
 <a href="http://www.eatingwell.com/recipe/266638/cauliflower-mac-cheese/"> <br> Cauliflower Mac & Cheese  </a>
 
<br>
 
 <img src = " https://images.media-allrecipes.com/userphotos/300x300/5606648.jpg"  width = "250px" height = "250px" />
 <a href="http://www.eatingwell.com/recipe/266986/vegan-potato-soup/"> <br> Vegan Potato Soup </a>
 
 