<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="prot">


<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!--<a href= fitness class="w3-bar-item w3-button">Fitness</a>-->
      <!--<a href= diet class ="w3-bar-item w3-button">Diet</a>-->
      <!--<a href= mental  class ="w3-bar-item w3-button">Mental Health</a>-->
    </div>
  </div>
</div>
<h1 class = "prot_title"> Power to the protein!!! </h1></h1>
<h3>Here are some hEalThY PROTEIN options that will be sure to satiate you!</h3>


<img src = "https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.realsimple.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fportrait_435x518%2Fpublic%2Fpork-cutlets-peppers.jpg%3Fitok%3DcQEOnGA4&w=1600&q=70" width = "250px" height = "250px" />
 <a href="https://www.realsimple.com/food-recipes/browse-all-recipes/pork-cutlets-peppers-beans"> <br> Pork Cutlets with Peppers and Beans </a>
 
 <br>
 
 <img src = "https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.realsimple.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fportrait_435x518%2Fpublic%2Fsteak-skillet-tomatoes.jpg%3Fitok%3DKhwxsbLX&w=1600&q=70"  width = "250px" height = "250px" />
 <a href="https://www.realsimple.com/food-recipes/browse-all-recipes/steak-skillet-tomatoes"> <br> Steak with Skillet Tomatoes </a>
 
 <br>
 
 <img src = " https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.realsimple.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fportrait_435x518%2Fpublic%2Fspanish-omelet.jpg%3Fitok%3D_sYWOBS0&w=1600&q=70"  width = "200px" height = "200px" />
 <a href="https://www.realsimple.com/food-recipes/browse-all-recipes/spanish-omelet-potatoes-chorizo"> <br> Spanish Omelet with Potatoes and Chorizo </a>
 
<br>
 
 <img src = " https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.realsimple.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fportrait_435x518%2Fpublic%2Fchicken-vinaigrette.jpg%3Fitok%3DuYdvxPFW&w=1600&q=70"  width = "250px" height = "250px" />
 <a href="https://www.realsimple.com/food-recipes/browse-all-recipes/chicken-goat-cheese-vinaigrette"> <br> Chicken with Goat Cheese Vinaigrette</a>
 
 