<h3>HIIT, or high-intensity interval training, is a training technique in which you give all-out,
one hundred percent effort through quick, intense bursts of exercise, followed by short, sometimes active,
recovery periods. This type of training gets and keeps your heart rate up and burns more fat in less time. 
You will be sure to get a great sweat with great results!</h3>