<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class = "HIIT">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!--<a href= fitness class="w3-bar-item w3-button">Fitness</a>-->
      <!--<a href= diet class ="w3-bar-item w3-button">Diet</a>-->
      <!--<a href= mental  class ="w3-bar-item w3-button">Mental Health</a>-->
    </div>
  </div>
</div>
<h1 class = "HIIT_title"> You are made for HIIT!</h1></h1>
<h3>HIIT, or high-intensity interval training, is a training technique in which you give all-out,<br>
one hundred percent effort through quick, intense bursts of exercise, followed by short, sometimes <br>active,
recovery periods. This type of training gets and keeps your heart rate<br> up and burns more fat in less time. 
You will be sure to get a great sweat with great results!</h3>

<br><br><br><br>
<img class = "HIIT_foto" src = "http://www.healthista.com/wp-content/uploads/2015/11/kettle-bell.jpg">

</body>