<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href= fitness class="w3-bar-item w3-button">Fitness</a>
      <a href= diet class ="w3-bar-item w3-button">Diet</a>
      <a href= mental  class ="w3-bar-item w3-button">Mental Health</a>
    </div>
  </div>
</div>

<!-- Header -->

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img  src="http://www.4freephotos.com/medium/batch/Zen-stones-in-lake808.jpg" width="1500" height = "1200">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class= title<span </span>  
  <p id="fresh"> 
  
  <span class="w3-hide-small w3-text-black"> 
 
  <h1 class="title"> Live Happy </h1><br><h3 class = "intro"> Welcome to Live Happy! <br>
We are here to help you with all aspects of your physical and mental well being. We at Live Happy know how hard it is to manage these parts of your already very busy
lives so we have made it super accessible and easy for you!<br>
Choose which aspect you want to better - fitness, diet, or mental wellbeing- and take a quiz which will tell you how to workout, 
what to eat, and/or how to de-stress.<br>
Happy quizzing and remember - always LIVE HAPPY!</h3></span></p>
  </div>
  
  
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

 
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>


</body>
</html>
     
    </body>
</html>
