<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class = "power">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!--<a href= fitness class="w3-bar-item w3-button">Fitness</a>-->
      <!--<a href= diet class ="w3-bar-item w3-button">Diet</a>-->
      <!--<a href= mental  class ="w3-bar-item w3-button">Mental Health</a>-->
    </div>
  </div>
</div>
<h1 class = "power_title"> Your were built for Power Lifting!</h1></h1>
<h3>Powerlifting is a strength sport that consists of three attempts at maximal weight on three lifts:<br>
squat, bench press and deadlift. Powerlifting will greatly increase your strength, leading to greater fat loss <br>
and increased muscle tone.

<br><br><br><br>
<img class = "lift_foto" src = "https://www.mashelite.com/wp-content/uploads/2016/01/dan-green-powerlifting-seminar-and-clinic-uk-and-ireland-tour-belfast.jpg">

</body>






<h3></h3>