<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="vegan">


<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!--<a href= fitness class="w3-bar-item w3-button">Fitness</a>-->
      <!--<a href= diet class ="w3-bar-item w3-button">Diet</a>-->
      <!--<a href= mental  class ="w3-bar-item w3-button">Mental Health</a>-->
    </div>
  </div>
</div>
<h1 class = "vegan_title"> Congrats on saving the cows!!</h1></h1>
<h3>Here are some hEalThY VEGAN options that will be sure to satiate you!</h3>

<img src = "https://assets.bonappetit.com/photos/57ace10f53e63daf11a4db0e/16:9/w_1534,c_limit/RATATOUILLE-1-of-1.jpg" width = "250px" />
 <a href="https://www.bonappetit.com/recipe/ratatouille-2"> <br> Ratatouille </a>
 
 <br>
 
 <img src = " https://assets.bonappetit.com/photos/57ace5bcf1c801a1038bc8b8/16:9/w_1534,c_limit/tomato-peach-salad-with-tofu-cream.jpg"  width = "250px"/>
 <a href="https://www.bonappetit.com/recipe/tomato-peach-salad-with-tofu-cream"> <br> Tomato Peach Salad with Tofu Cream </a>
 
 <br>
 
 <img src = " https://assets.bonappetit.com/photos/57ace4a61b334044149752d1/16:9/w_1534,c_limit/GRILLED-CAULIFLOWER1.jpg"  width = "250px"/>
 <a href="https://www.bonappetit.com/recipe/grilled-cauliflower-steaks-scallions"> <br> Grilled Cauliflower 'Steaks' </a>
 
<br>
 
 <img src = " https://assets.bonappetit.com/photos/57b4c36e319a58275764d8d2/16:9/w_1534,c_limit/vanilla-soy-vegan-ice-cream.jpg"  width = "250px"/>
 <a href="https://www.bonappetit.com/recipe/vanilla-soy-vegan-ice-cream"> <br> Vanilla Soy Vegan Ice Cream </a>
 
 
 
 
 
 