<h1> Congrats on saving the cows! </h1>

<h2> Here are some hEalThY VEGAN options that will be sure to satiate you! </h2>


<img src = "https://assets.bonappetit.com/photos/57ace10f53e63daf11a4db0e/16:9/w_1534,c_limit/RATATOUILLE-1-of-1.jpg" width = "200px" height = "200px" />
 <a href="https://www.bonappetit.com/recipe/ratatouille-2"> <br> Ratatouille </a>