<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
        <title> Healthy Living  </title>
   <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="veg">


<div class="w3-top">
  <div class="w3-bar w3-whe w3-wide w3-padding w3-card">
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <!--<a href= fitness class="w3-bar-item w3-button">Fitness</a>-->
      <!--<a href= diet class ="w3-bar-item w3-button">Diet</a>-->
      <!--<a href= mental  class ="w3-bar-item w3-button">Mental Health</a>-->
    </div>
  </div>
</div>
<h1 class = "veg_title">A vegeterian queen</h1></h1>
<h3>Here are some hEalThY VEGETERIAN options that will be sure to satiate you!</h3>

<img src = "https://assets.marthastewart.com/styles/wmax-350/d24/wk1-d-soup-051-mld109440/wk1-d-soup-051-mld109440_sq.jpg?itok=tA2fGhUx" width = "200px" height = "200px" />
 <a href="https://www.marthastewart.com/1050729/red-lentil-and-sweet-potato-stew"> <br> Red Lentil and Sweet Potato Stew </a>
 
 <br>
 
 <img src = " https://images.media-allrecipes.com/userphotos/465x465/5487426.jpg"  width = "250px" height = "225px" />
 <a href="http://www.eatingwell.com/recipe/265847/caprese-stuffed-portobello-mushrooms/"> <br> Caprese Stuffed Portobello Mushrooms </a>
 
 <br>
 
 <img src = " https://images.media-allrecipes.com/userphotos/465x465/5327281.jpg"  width = "250px" height = "250px" />
 <a href="http://www.eatingwell.com/recipe/263918/celeriac-walnut-tacos/"> <br> Celeriac Walnut Tacos </a>
 
<br>
 
 <img src = " https://images.media-allrecipes.com/userphotos/465x465/5486658.jpg"  width = "250px" height = "250px" />
 <a href="http://www.eatingwell.com/recipe/265772/sweet-corn-polenta-with-bell-pepper-tomato-salad/"> <br> Sweet Corn Polenta with Bell Pepper Tomato Salad </a>